.banner_bg_image {
    background-image: url(https://images.unsplash.com/photo-1670510521052-9f29bce5bbfb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat !important;
    height: 600px;
    width: 100%;
    min-height: 600px;
}

.transY_xl_n40 {
    -webkit-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -o-transform: translateY(-40%);
    transform: translateY(-40%);
}

p {
    display: block;
}